@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WebApp!</h1>
    <h3><b>Register or Login to access the users table.</b></h3>
</div>                                                          

<div class="form-buttons">
    <button type="button" class="btn btn-primary btn-lg">
        <h4><b><a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a></b></h4>
    </button>
    
    <button type="button" class="btn btn-warning btn-lg">
        <h4><b><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a></b></h4>
    </button>
</div>  